.main-div{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: red;
    width: fit-content;
    border-radius: 20px;
    margin: 10px;
    
}
.form-elements input,select{
    margin: 0px 10px 0px 10px;
}
.right{
    background-color: blue;
}
.calendar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar-list table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
    margin: 10px;
}
.calendar-list table th,td{
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;   
}
tr{
    background-color: rgb(8, 202, 8);
}
