body {
    background-color: rgb(209, 205, 205); /* Cambia il colore di sfondo della pagina */
  }
.navbared ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.navbared li {
    float: left;
    border-right: 1px solid #fffdfd;
} 
.navbared li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
.navbared li a:hover {
    background-color: #111;
}
  
.navbared li last-child {
    border-right: none;
}
