.add-calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-calendar button{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;

}
.add-calendar button:hover{
    background-color: red;  
}
.add-student{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-student button{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;

}
.add-student button:hover{
    background-color: red;  
}

.calendar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin: 10px;
    padding: 10px;
}
.calendar-list #table-calendars{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
.calendar-list #table-calendars th{
    text-align: center;
    margin-left: 1px;
    border: 1px solid black;
    padding:5px
}

.calendar-list #table-calendars td{
    text-align: left;
    border: 1px solid black;
    padding:5px
}

.calendar-list #table-calendars td:last-child{
    border-bottom-right-radius: 0.25rem;
}

.calendar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin: 10px;
    padding: 10px;
}
#table-res{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}
#table-res tr:nth-child(odd){
    background-color: white;
}
#table-res tr:nth-child(even){
    background-color: rgb(240, 240, 240);
}
 #table-res th{
    text-align: center;
    margin-left: 1px;
    border: 1px solid black;
    padding:5px
}
#table-res td{
    text-align: left;
    border: 1px solid black;
    padding:5px
}

#table-res td:last-child{
    border-bottom-right-radius: 0.25rem;
}