<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/baseStyle.css') }}">

    <script src="https://kit.fontawesome.com/18247ee54d.js" crossorigin="anonymous"></script>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbared">
          <ul>
            <li>
              {% with messages = get_flashed_messages(with_categories = true)%}
              {% if messages%}
                {% for category, message in messages %}
                {% if category == 'error' %}
                <div class = "alert-danger" id="alert-danger" role = "alert"> 
                  {{message}}
                  <button type = "button" class = "close" data-dismis = "alert" onclick="closeNotificationDanger()">
                    <span aria-hidden = "true"> &times;</span>
                  </button>
                </div>
                {% else %}
                <div class = "alert-success" id="alert-success" role = "alert"> 
                  {{message}}
                  <button type = "button" class = "close" data-dismis = "alert" onclick="closeNotificationSuccess()">
                    <span aria-hidden = "true"> &times;</span>
                  </button>
                </div>
                {% endif %}
                {% endfor %}
              {% endif%}
              {% endwith %}
            </li>
            {% if user.is_authenticated %}
            <li><a class="nav-item nav-link" id="logout" href="/logout">Logout</a></li>
            <li><a class="nav-item nav-link" id="home" href="/home">Home</a></li>
            {% else %}
            <li><a class="nav-item nav-link" id="login" href="/">Login</a></li>
            <li><a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a></li>
            {% endif %}
        </ul>    
    </nav>
    <script>
      function closeNotificationSuccess(){
        document.getElementById("alert-success").style.display = "none";
      }
      function closeNotificationDanger(){
        document.getElementById("alert-danger").style.display = "none"
        
        
      }
    </script>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>