{% extends "base.html"%}
{% block title %} Crea calendario {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/ccalendarStyle.css') }}">
<h1>Aggiungi un calendario!</h1>
<form method="post">
    <div class="form-main">
        
            <div class="form-elements">
                <label for="orainizio">Ora inizio giornata</label>
                <input type="time" list="times" id="orainizio" name="orainizio" >
            </div>
            <div class="form-elements">
                <label for="orafine"">Ora fine giornata</label>
                <input type="time" list="times" id="orafine" name="orafine">
            </div>
            <div class="form-elements">
                <label for="tiposlot">minutaggio degli slot</label>
                <select name="tiposlot" id="tiposlot">
                    <option disabled selected value>-</option>
                    <option value="60">1 ORA</option>
                    <option value="90">1 ORA E MEZZA</option>
                </select>
            </div>
            <div class="generateCalendar">
                <div class="button-calendar" id="button-calendar">
                    <button type="button" id="bottone" onclick="generateCalendar()">genera calendario</button>
                </div>
            </div>
    </div>
    <div class="calendar" id="calendar"></div>
</form>
<script src="{{ url_for('static', filename='scripts/ccalendarHandler.js')}}"></script>
{% endblock %}