{% extends "base.html"%}
{% block title %} Crea calendario {% endblock %}

{% block content %}
<h1>Aggiungi un calendario!</h1>
<div class="form-main">
    <form method="post">
        <div class="form-elements">
            <label for="orainizio">Ora inizio giornata</label>
            <input type="time" list="times" id="orainizio" name="orainizio" min="09:00">
        </div>
        <div class="form-elements">
            <label for="orafine"">Ora fine giornata</label>
            <input type="time" list="times" id="orafine" name="orafine" max="20:00">
        </div>
        <div class="form-elements">
            <label for="tiposlot">Minuti degli slot</label>
            <input type="number" id="tiposlot" name="tiposlot" min="30" max="90" step="30">
        </div>
        <div class="generateCalendar">
            <div class="button-calendar" id="button-calendar">
                <button type="button" id="bottone" onclick="generateCalendar()">genera calendario</button>
            </div>
            <div class="calendar" id="calendar"></div>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='scripts/ccalendarHandler.js')}}"></script>
{% endblock %}