{% extends "base.html"%}
{% block title %} Sign up {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/loginStyle.css') }}">
<h1> Pagina iscrizione account </h1>
<form method="post">
    <h3 align = "center"> Iscriviti </h3>
    <div class = "form-group">
        <label for = "email"> Indirizzo email</label>
        <input type = "email" class = "form-control" id = "email" name = "email" placeholder = "Inserisci email">
        
        <label for = "firstname"> Nome utente</label>
        <input type = "text" class = "form-control" id = "firstname" name = "firstname" placeholder = "Inserisci nome utente">
        
        <label for = "password1"> Password </label> 
        <input type = "password" class = "form-control" id = "password1" name = "password1" placeholder = "Inserisci password">
        
        <label for = "password2"> Password (conferma)</label>
        <input type = "password" class = "form-control" id = "password2" name = "password2" placeholder = "conferma password">
        
        <button type = "submit" class="btn btn-primary"> Invia </button>
    </div>

    <br/>
    
</form>
{% endblock %}